body {
  /*background: url("http://aislian.org/tiling.gif");*/
  background: url("http://www.rosiehardman.com/bgimages/rosieanimback5.gif");
}

#cat1{
  position:absolute;
  top:30px;
  left:30px;
}

#cat2{
  position:absolute;
  top:80px;
  left:30px;
}

.keybox {
  position:absolute;
  top:100px;
  left:100px;
  width:200px;
  height:200px;
  background: rgba(233, 213, 153, 1);
  border-radius: 100px;
  box-shadow: 7px 20px rgba(255,255,255,.5);
}

.keys {
  position: relative;
  top: 10px;
  text-align: center;
  width:120px;
  color:#bad;
  background:#a55;
  margin:20px auto;
}





/*        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";*/
