body {
  /*background: url("http://aislian.org/tiling.gif");*/
  background: url("img/rosieanimback5.gif");
}

#cat1{
  position:absolute;
  top:30px;
  left:30px;
}

#cat2{
  position:absolute;
  top:80px;
  left:30px;
}

.keybox_p1, .keybox_p2 {
  position:absolute;
  width:200px;
  height:200px;
}

.keybox_p1{
  top:100px;
  background: url('img/moon.png');
  background-size: cover;
  left:200px;
}

.keybox_p2{
  top:200px;
  background: url('img/mars123.png');
  background-size: cover;
  left:510px;
}

.keys {
  position: relative;
  top: 40px;
  font-size: 25px;
  text-align: center;
  width:120px;
  height: 30px;
  color: white;
  background: rgba(0,0,0,.5);
  margin:20px auto;
}

.finishline {
  position:absolute;
  height:200px;
  width:15px;
  left:800px;
  background: url('img/rainbow.jpg');
  opacity:.6;
  box-shadow: 1px 0 black;

}





/*        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";*/
