body {
  /*background: url("http://aislian.org/tiling.gif");*/
  background: url("/img/rosieanimback5.gif");
  font-family: 'Press Start 2P', cursive;
}

#cat1{
  position:absolute;
  top:30px;
  left:30px;
}

#cat2{
  position:absolute;
  top:80px;
  left:30px;
}

.keybox_p1, .keybox_p2 {

  position:absolute;
  width:200px;
  height:200px;
}

.keybox_p1{
  top:100px;
  background: url('/img/moon.png');
  background-size: cover;
  left:200px;
}

.keybox_p2{
  top:200px;
  background: url('/img/mars.png');
  background-size: cover;
  left:510px;
}

.keys {
  border-radius: 4px;
  visibility: hidden;
  position: relative;
  top: 40px;
  font-size: 15px;
  text-align: center;
  width:160px;
  height: 30px;
  color: white;
  background: rgba(0,0,0,.5);
  margin:20px auto;
  padding:8px 5px 0 5px;
}

.finishline {
  position:absolute;
  top:0;
  left:770px;
  height:34%;
  background: url('/img/finishline.png');
  background-size: cover;

}

#players {
  border-radius: 5px;
  border: solid 2px black;
  padding: 10px;
  background-color: rgba(0,0,0, .9);
  text-align: center;
  color: white;
}

#players .element {
  margin: 10px;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

