<%= erb(:players) %>

<div id="nyanwrapper">
  <div class="player1">
    <img src="img/nyan.gif" id="cat1" class="nyancat">
    <div class="keybox_p1">
      <p class="keys" id="player1_name"></p>
      <p class="keys" id="player1_key">X</p>
    </div>
  </div>
  <div class="player2">
    <img src="img/nyaninja.gif" id="cat2" class="nyancat">
    <div class="keybox_p2">
      <p class="keys" id="player2_name"></p>
      <p class="keys" id="player2_key">Y</p>
    </div>
  </div>
</div>
<div><img class='finishline' src="img/finishline.png"></div>

